*{
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0.0;
  margin: 0.0;
}

h2 {
  font-size: 60px;
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}

.landing-background {
  background-image: url(../images/black-background.jpg);
}

.photo-container {
  text-align: center;
  display: inline-block;
  align-self: flex-end;
}

.photo {
  z-index: 999;
  width: 90%;
}

.name {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
  display: inline-block;
  align-self: center;
  line-height: 100%;
  margin-top: 300px;
  animation: marquee 2s;
  animation-iteration-count: 1;
}

.name a {
  text-decoration: none !important;
  color: white !important;
}

.name a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

@keyframes marquee {
  from {transform: translateX(100%); }
  to {transform: translateX(0%); }
}

.hello {
  color: #FFFFFF;
  font-size: 72px;
  font-weight: bold;
  font-family: 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans Thai', sans-serif;
  display: inline-block;
  align-self: flex-start;
  text-align: center;
  padding-top: 100px;
  transition: opacity 1s;
}

.fade-out {
  opacity: 0 !important;
} 

.desc {
  line-height: 100%;
  font-size: 16px;
}
