*{
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0.0;
  margin: 0.0;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
}

h2 {
  font-size: 60px;
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}

#hello-container {
  /* background: linear-gradient(180deg, #000000, #0f0f0f, #181818, #212121, #2a2a2a, #333333, #3c3c3c); */
  background-image: url(../images/black-background.jpg);
  background-size: cover;
  position: relative;
  color: #FFFFFF;
  height: 100vh;
}

#hello {
  font-size: 16vw;
  font-family: 'Noto Sans JP', 'Noto Sans KR', 'Noto Sans TC', 'Noto Sans Thai', sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  letter-spacing: 4px;
  opacity: 0.7;
  transition: opacity 1s;
  mix-blend-mode: overlay;
  text-shadow: 0 5px 10px rgb(0,0,0);
}

.fade-out {
  opacity: 0 !important;
}

.absolute {
  position: absolute;
}

.photo-container {
  height: inherit;
  align-items: flex-end;
}

.photo {
  z-index: 999;
  width: 60vw;
  filter: brightness(60%);
}