*{
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0.0;
  margin: 0.0;
}

h2 {
  font-size: 60px;
  background: #eee;
  padding: 8px 24px;
  border-radius: 16px;
}

.landing-background {
  background-image: url(../images/black-background.jpg);
}

.photo-container {
  height: inherit;
  align-items: flex-end;
}

.photo {
  z-index: 999;
  width: 60vw;
}

.name {
  color: #FFFFFF;
  font-size: 5vw;
  font-weight: bold;
}
